<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369597943517-g8u6mg2vk6cki2nq914jmnvcva7h8d8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369597943517-g8u6mg2vk6cki2nq914jmnvcva7h8d8s</string>
	<key>API_KEY</key>
	<string>AIzaSyDoqO5e93xdlTgYyKIkgshxa2Kf6m4FplA</string>
	<key>GCM_SENDER_ID</key>
	<string>369597943517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GooseBumps.ARBiosphere</string>
	<key>PROJECT_ID</key>
	<string>ar-biosphere-cfeaa</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-biosphere-cfeaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369597943517:ios:3044f57314f1e50f9e1534</string>
</dict>
</plist>